{
    "presets": [
        [
            "next/babel",
            {
                "preset-react": {
                    "runtime": "automatic",
                    "importSource": "@emotion/react"
                }
            }
        ]
    ],
    "plugins": [
        "@emotion/babel-plugin",
        [
            "prismjs",
            {
                "languages": ["bash"],
                "theme": "okaidia",
                "css": true
            }
        ],
        "react-require"
    ]
}
