@font-face {
  font-family: 'Styrene A LC';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/StyreneALC-RegularItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Styrene A LC';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/StyreneALC-BoldItalic.woff2') format('woff2');
}

@font-face {
  font-family: 'Styrene A LC';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('/assets/fonts/StyreneALC-Regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Styrene A LC';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/assets/fonts/StyreneALC-Bold.woff2') format('woff2');
}

body {
  margin: 0;
  padding-right: 20px;
}

#preloader {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #232524;
  visibility: visible;
  opacity: 1;
  gap: 24px;
}

#preloader .loader {
  display: flex;
  align-items: center;
  gap: 8px;
  padding-top: 20px;
}

#preloader .loader-text {
  color: #a7a7a7;
  font-size: 16px;
}

@keyframes spin {
  100% { transform: rotate(1turn); }
}

#preloader .loader-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  animation: spin 1.2s infinite linear;
}

@keyframes hide {
  100% {
    opacity: 0;
  }
}

#preloader.hidden {
  animation: hide 0.5s both;
}

@keyframes hide {
  0%, 90% { opacity: 1; visibility: visible; }
  100% { opacity: 0; visibility: hidden; }
}

.card::before,
.card::after {
  content: "";
  position: absolute;
}

.card > div {
  position: relative;
  z-index: 1;
  background: #272a29;
}

header {
  color: #a7a7a7;
  text-transform: uppercase;
  font-size: 11px;
  letter-spacing: 1px;
  font-family: "Styrene A LC" !important;
}

body,
body .netdata-chart,
body .dygraph-title,
body .easyPieChartTitle,
body .easyPieChartLabel,
body .easyPieChartUnits,
body .gaugeChartTitle,
body .gaugeChartLabel,
body .gaugeChartUnits,
body .dygraph-label,
body .dygraph-axis-label,
body .netdata-chart-legend,
body .netdata-container[data-chart-library] {
  font-family: "Styrene A LC" !important;
  font-weight: 400 !important;
}

body .easyPieChartTitle,
body .gaugeChartTitle {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 9px !important;
}

body .easyPieChartTitle {
  transform: translate(0, 6px);
}

body main .easyPieChartLabel {
  font-size: 43px !important;
  transform: translateY(-36%);
}

body main .easyPieChartUnits {
  transform: translateY(-6px);
}

body .netdata-message {
  content: "test";
  color: transparent !important;
}

body .netdata-legend-toolbox,
body .netdata-legend-resize-handler {
  display: none !important;
}

body .netdata-container[data-chart-library] {
  font-size: 36px;
  color: #f9f9f9;
}

main {
  padding-top: 20px;
}

.charts {
  display: flex;
  gap: 20px;
}

.charts > div:first-child {
  min-width: 166px;
}

.row:not(:last-child) {
  border-bottom: 1px solid #363938;
  margin-bottom: 24px;
  padding-bottom: 10px;
}

.textonly-wrapper {
  display: flex;
  flex-direction: column;
}

.measurement {
  transform: translateY(-4px);
  font-size: 12px;
  color: #a7a7a7;
}

.dygraph__history-tip {
  display: none !important;
}